<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Reilly's App</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding [style.background-color]="rgb" > 
  <div *ngIf="!particle.token">
      Please login and select a device. <br />
      <button ion-button (click)="login()">Login</button>
  </div>
  <div *ngIf="particle.token && particle.device">
      <h3>Color Reader</h3>
      <div>
          <h5>Purpose</h5>
          <p>
            With this device you can touch an object and the color of the object will be displayed on the app as an RGB value reading and display the color on the screen
          </p>
          <h5>Device Status</h5>
          <p *ngIf="!particle.device || !particle.device.connected">The device is offline</p>
          <p *ngIf="particle.device && particle.device.connected">You are currently viewing {{particle.device.name}}</p>
      </div>
      <div>
          <h3>RGB Color Reading</h3>
          <!--<p>
            You can subscribe to variables by calling <code>particle.pollVariable</code>.
          </p>-->
          <!--<span [style.color]="rgb" >Blah</span>-->
          <h5> Red: {{red}}</h5>
          <h5> Green: {{green}}</h5>
          <h5> Blue: {{blue}}</h5>
      </div>
      <div>
          <!--<h5>Custom components</h5>-->
          <!--<p>
            You can also create custom components. It's also more efficient to update components by subscribing to events 
            from your device, by calling <code>particle.subscribe</code>
          </p>
          <particle-progress [event]="'variableUpdate'" [min]="2" [max]="10"></particle-progress>-->
      </div>
      <div>
        <!--<h5>Calling functions</h5>
        <p>
            You can call device functions with <code>particle.callFunction</code>
        </p>
        <button ion-button (click)="particle.callFunction('fun1')">Call a function</button>-->
      </div>
  </div>
</ion-content>
